@import "variables";

.home-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

.home-posts, .home-aside, .home-aside__proud {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 0;
  overflow: visible;
}

.home-aside__proud {
  max-width: 290px;
  margin: 0 auto;
}

@media (max-width: $lg) {
  .home-grid {
    grid-template-columns: 1fr;
  }
}