@import "variables";

.header-menu {
  display: flex;
  justify-content: space-between;

  .menu-item {
    width: 100%;
    text-align: center;
    position: relative;

    a {
      display: block;
      padding: 14px 0;
    }

    &:hover {
      background: #ffffff22;

      .sub-menu {
        display: block;
        background: $secondary-color;

        a {
          padding: 10px;
        }
      }
    }
  }

  .sub-menu {
    width: 100%;
    min-width: max-content;
    position: absolute;
    display: none;
    z-index: 10;
    color: $primary-text-color;
    background: $secondary-color;

    .menu-item {
      text-align: left;

      &:hover {
        background: rgba($accent-color, .5);
        color: $secondary-text-color;
      }
    }
  }
}

.header-mobile-menu {
  &__title {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    i {
      font-size: 20px;
    }
  }

  &__content {
    //overflow: hidden;
    transition: max-height .3s ease-in;

    a {
      padding: 5px 0;
      display: block;
    }

    .sub-menu {
      a {
        padding-left: 15px;
      }
    }
  }
}

.cards-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;

  .menu-item {
    padding: 5px;
    background: $secondary-color;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #00000022;
    text-align: center;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 15px 0;
    }

    img {
      max-width: 100px;
      padding: 0;
    }
  }
}

@media (max-width: $lg) {
  .cards-menu {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: $sm) {
  .header-menu {
    display: none;
  }

  .header-mobile-menu {
    display: block !important;
  }

  .cards-menu {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $xs) {
  .cards-menu {
    grid-template-columns: 1fr
  }
}