@import "variables";

.outer-links {
  display: grid;
  gap: 10px;

  &__content {
    padding: 5px 10px;
    min-height: 100px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__image {
    width: 70px;
  }
}

@media (max-width: $lg) {
  .outer-links {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $xs) {
  .outer-links {
    grid-template-columns: 1fr;
  }
}