@import "variables";

.slider {
  overflow: hidden;
  position: relative;

  &__image {
    height: 400px;
    margin: 0 auto;

    img {
      height: 400px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    filter: blur(20px);
    background-size: contain !important;
  }

  .swiper-button-prev, .swiper-button-next {
    &:after {
      color: #ffffffaa;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #ffffffaa;
  }
}

@media (max-width: $lg) {
  .slider {
    margin-left: -15px;
    margin-right: -15px;

    &__image {
      height: 33vw;

      img {
        height: 33vw;
      }
    }
  }
}

@media (max-width: $sm) {
  .slider {
    &__image {
      height: 45vw;

      img {
        height: 45vw;
      }
    }
  }
}