$primary-color: #1a8d27;
//$primary-color: #001C26;
$secondary-color: #ffffff;
$footer-primary-color: #001C26;

$primary-text-color: #111111;
$secondary-text-color: #ffffff;
$accent-color: #FF9C00;


$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
